:root {
  --background: #fafbff;
  --white: #ffffff;
  --first-font-color: #292d32;
  --secondary-font-color: #000000;
  --menu-font-color: #9197b3;
  --accent-font-color: #16c098;
  --accent-background-color: #5932ea;
  --button-active-color-font: #008767;
  --button-active-color-background: rgba(22, 192, 152, 0.38);
  --button-inactive-color-font: #df0404;
  --button-inactive-color-background: #ffc5c5;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
