<section class="customers container-main">
    <div class="customers__header">
        <div>
            <h3 class="customers__title">All Customers</h3>
            <p class="customers__active-desc">Active Members</p>
        </div>
        <div class="search-container">
            <svg class="search-icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-search"></use>
            </svg>
            <input type="text" class="search-input" name="" placeholder="Search">
        </div>
    </div>

    <table class="customer-table" id="customerTable">
        <thead>
            <tr>
                <th class="customer-table__header">Customer Name</th>
                <th class="customer-table__header">Company</th>
                <th class="customer-table__header">Phone Number</th>
                <th class="customer-table__header">Email</th>
                <th class="customer-table__header">Country</th>
                <th class="customer-table__header">Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination__container">
        <p class="pagination__container__customers-showing">Showing data 1 to 8 of 256K entries</p>
        <div class="pagination">
            <button class="pagination__btn"><svg class="pagination__icon" width="8px" height="12px">
                    <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg></button>
            <button class="pagination__btn">1</button>
            <button class="pagination__btn">2</button>
            <button class="pagination__btn">3</button>
            <button class="pagination__btn">4</button>
            <p>...</p>
            <button class="pagination__btn">40</button>
            <button class="pagination__btn"><svg class="pagination__icon" width="8px" height="12px">
                    <use href="./images/icons.svg#icon-arrow-rigth"></use>
                </svg></button>
        </div>
    </div>
</section>
<script>

</script>