<aside class="menu-aside">
    <div class="menu-aside__logo">
        <div class="logo">
            <svg class="logo__icon" width="37px" height="37px">
                <use href="./images/icons.svg#icon-setting"></use>
            </svg>
            <p class="logo__desc">Dashboard</p>
        </div>
        <p class="menu__version">v.01</p>
    </div>
    <ul class="menu-aside__list list">
        <li class="menu-aside__list-item"> <svg class="menu-aside__list__icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-key-square"></use>
            </svg>Dashboard</li>
        <li class="menu-aside__list-item"><svg class="menu-aside__list__icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-d-square"></use>
            </svg>Product<svg class="menu-aside__list__icon-arrow" width="16px" height="16px">
                <use href="./images/icons.svg#icon-chevron-right"></use>
            </svg></li>
        <li class="menu-aside__list-item active"> <svg class="menu-aside__list__icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-user-square"></use>
            </svg>Customers<svg class="menu-aside__list__icon-arrow" width="16px" height="16px">
                <use href="./images/icons.svg#icon-chevron-right"></use>
            </svg></li>
        <li class="menu-aside__list-item"><svg class="menu-aside__list__icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-wallet-money"></use>
            </svg>Income<svg class="menu-aside__list__icon-arrow" width="16px" height="16px">
                <use href="./images/icons.svg#icon-chevron-right"></use>
            </svg></li>
        <li class="menu-aside__list-item"><svg class="menu-aside__list__icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-discount-shape"></use>
            </svg>Promote<svg class="menu-aside__list__icon-arrow" width="16px" height="16px">
                <use href="./images/icons.svg#icon-chevron-right"></use>
            </svg></li>
        <li class="menu-aside__list-item"><svg class="menu-aside__list__icon" width="24px" height="24px">
                <use href="./images/icons.svg#icon-message-question"></use>
            </svg>Help<svg class="menu-aside__list__icon-arrow" width="16px" height="16px">
                <use href="./images/icons.svg#icon-chevron-right"></use>
            </svg></li>
    </ul>
    <div class="menu-aside__user">
        <img class="menu-aside__user-photo" src="./images/Evano.png" alt="Evano" width="42px" height="42px">
        <div class="menu-aside__user-desc">
            <p class="menu-aside__user-name">Evano</p>
            <p class="menu-aside__user-position">Project Manager</p>
        </div>

    </div>
</aside>